/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kadwa:wght@400;700&family=Quattrocento:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    width: 100vw;
    min-height: 100vh;
}

.main-header {
    width: 100vw;
    height: auto;
    border-bottom: 2px solid #333;
}




.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.brand-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.brand-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.brand-container img {
    width: 60px; 
    height: auto;
    margin-right: 10px;
}

.topnav ul {
    list-style-type: none;
    display: none; 
    gap: 15px;
    position: relative;
    z-index:990;
}

.topnav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background-color 0.3s;
}


.login-container a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.fa-regular {
    margin-left: 5px;
    font-size: 1.2rem;
}


.burger-menu {
    display: flex;
    font-size: 24px;
    color: #333;
    margin-right: 1rem;
}


.topnav ul.show-menu {
    display: flex;
    position: absolute;
    top: 60px;
    right: 20px;
    gap: 0;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
}

.topnav ul.show-menu li {
    text-align: center;
}

.topnav ul.show-menu li a {
    display: block;
    padding: 10px 20px;
}


.main-content {
    margin: 1rem, auto;
    margin-bottom: 2rem;
}


.search-container {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 20px auto;
}


.search-img img {
    width: 100%; 
    height: 350px;  
    object-fit: cover;
    border-radius: 30px;
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}


.search-field {
    width: 100%; 
    margin-bottom: 8px; 
}

.search-field input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: #FFF;
    font-size: 14px; 
    outline: none;
}

/* Søgeknap */
.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background: #FFF;
    color: #000;
    cursor: pointer;
    font-size: 14px;
}

.info {
    margin-top: 2rem;
}


.info h2 {
    text-align: center;
    font-family: 'kadwa', sans-serif;
}


.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wrapper-1, .info-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.info-img-1 img, .info-img-2 img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 1rem auto;
}




.info-box-1, .info-box-2 {
    margin: 1rem 1.5rem 1rem 1.5rem;

}
.info-box-1 ul li, .info-box-2 ul li {
    margin-bottom: 1rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand-footer {
    font-size: 24px;
    font-weight: bold;
    flex: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100%;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.social-icons li {
    margin: 0 5px;
}

.social-icons li a {
    font-size: 24px;
    color: #333;
    transition: color 0.3s;
}


.contact-info {
    font-size: 16px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    flex: 100%;    
    
}

.contact-info i {
    font-size: 20px;
}

/* taget herfra:https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
.fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
                /* Also define standard property for compatibility */
                background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
      }
.fa-facebook {
    color: #3b5998;
    font-size: 20px;
}

/* taget herfra https://stackoverflow.com/questions/66933650/how-can-i-replicate-the-tiktok-logo-in-fontawesome-with-colors*/
.fa-tiktok {
    color: #111111;
    filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
    font-size: 20px;
}

.fa-twitter {
    color:#1DA1F2;
    font-size: 20px;
}






@media screen and (min-width: 768px) {
    .topnav {
        padding: 20px 40px;
        max-width: 80%;
        margin: 0 auto; 
    }
    

    .brand-container img {
        width: 80px;
    }

 
    .topnav ul {
        display: flex;
        position: relative;
        gap: 30px; 
        padding-left: 0;
    }

    
    .topnav ul li a {
        padding: 10px 20px;
        background:  linear-gradient(to top, white, #539D55 );
        border-radius: 10px;
    }

  
    .burger-menu {
        display: none;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: space-between;
        padding: 10px; 

    }

    
    .search-container {
        max-width: 75%;
        
    }

    .search-img img {
        width: 100%;
        height: 550px;
        object-fit: cover;
        border-radius: 30px;
        position: relative;
    }

    
     .search-field {
        width: 90%; 
    }


    .search-field input {
        width: 95%; 
    }

    .search-button {
        font-size: 16px;
        padding: 12px 24px;
    }

    .info-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem; 
        justify-content: center; 
    }
    
    .info-wrapper-1, .info-wrapper-2 {
        display: flex; 
        flex-direction: row;
        gap: 20px; 
        align-items: center; 
        max-width: 50%; 
    }

    .info-wrapper-1 {
        display: flex;
    }
    
    .info-img-1 {
        order: 2;
    }
    
    .info-box-1 {
        order: 1;
    }




    .footer-container {
        display: flex;
        flex-wrap: nowrap;

    }

    .brand-footer, .follow-us, .contact-info {
        flex: 1;
    }
}


